  <h1><%= @clan.info['name'] %></h1>

    <% members = @clan.members.sort_by{|m| m.username.downcase} %>
    <% members.each do |member| %>
            <%= render "people/person_badge", { :person => member} %>
    <% end %>
